/* Basket */
#basket-empty {
    text-align: center;
    font-family: "Amatic SC", Arial, sans-serif;
    font-size: 26px;
    font-weight: bold;
}

#basket-empty a {
    color: inherit; /* Inherit text color */
    text-decoration: none;
}

#basket-empty img {
    margin-top: -20px;
    margin-bottom: -10px;
    width: 80px;
}

#basket-list {
    list-style: disc inside; /* Maintain list dots */
    padding: 0;
    margin: 0;
}

.remove-button {
    margin: 0px 5px 5px 0px;
    border-radius: 50%;
    background-color: #d93030ae;
}

#total-price-container {
    padding: 30px;
    text-align: left;
    font-weight: bold;
    max-width: 700px;
}

#notes {
    font-size: 14px;
    padding: 0px 10px;
}

#customer-preference {
    text-align: center;
}

#customer-preference button {
    padding: 8px 20px;
    font-size: 16px;
    margin: 5px;
    margin-bottom: 200px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    transition: background 0.3s;
}

#pick-up {
    background: #4CAF50;
    color: white;
}

#pick-up:hover {
    background: #45a049;
}

#delivery {
    background: #f44336ce;
    color: white;
}

#delivery:hover:enabled {
    background: #e53935;
}

#delivery:disabled {
    background: #ccc;
    cursor: not-allowed;
}
