/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap'); /*"Heebo"*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap'); /*"Rubik Doodle Shadow"*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap'); /*"Rubik Dirt"*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap'); /*"Rubik Gemstones"*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap'); /*"Amatic SC"*/

/* General Styles */
body {
    background-color: white;
    margin: 0;
    color: #096115;
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: right;
    background: url('../Images/Section\ background.png') no-repeat fixed;
    background-size: cover;
    width: 100%;
    max-width: 764px; /* Adjust to fit phone screens nicely */
}
/* Larger screens */
@media (min-width: 764px) {
    body {
        max-width: 100%;
        background: url('../Images/Section\ background-Bigscreen.png') no-repeat fixed;
        background-size: cover;
    }
}

/* Header */
header {
    background: url('../Images/Header\ background.jpg') no-repeat center/cover;
}
/* Larger screens */
@media (min-width: 764px) {
    header {
        background: url('../Images/Header\ background-Bigscreen.png') no-repeat center/cover;
    }
}

.logo {
    text-align: center;
}

.logo img {
    width: 200px;
}

/* Footer */
footer {
    text-align: center;
    background-color: #21983180;
}
