/* General sets */
body {
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: right;
}
/* Header */
header {
    background-image: url('Images/Header\ background.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* nav behavier */

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #a8e08a; /* Light swamp green */
    border-radius: 20px; /* Rounds the edges */
}

nav ul li {
    margin: auto;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    background-color: #4CAF50; /* Green */
    color: black; /* Text color on hover */
}

/* Visabilitis for main section */
main section {
    transition: opacity 0.3s ease-out; /* Maybe not working! Smoothly animates changes to the opacity property over 0.3 seconds, creating a fade-in/out effect.*/
}

main section.active {
    opacity: 1;
    display: block;
}

main section:not(.active) {
    opacity: 0;
    display: none;
}

/* Items & Basket */
.vegetable-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.vegetable-item {
    text-align: center;
}

.vegetable-item img {
    border: 2px solid #4CAF50;
    border-radius: 8px;
    transition: transform 0.2s;
}

.vegetable-item img:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
}

.add-to-basket {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.add-to-basket:hover {
    background-color: #3e8e41;
}