/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap'); /*"Heebo"*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap'); /*"Rubik Doodle Shadow"*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap'); /*"Rubik Dirt"*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap'); /*"Rubik Gemstones"*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap'); /*"Amatic SC"*/

/* General Styles */
body {
    background-color: white;
    margin: 0;
    color: #096115;
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: right;
    background: url('Images/Section background.png') no-repeat fixed center;
    background-size: cover;
}

/* Header */
header {
    background: url('Images/Header background.jpg') no-repeat center/cover;
}

.logo {
    text-align: center;
}

.logo img {
    width: 200px;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #a8e08a;
    border-radius: 20px;
    opacity: 0.92;
}

nav ul li {
    margin: auto;
}

nav ul li a {
    position: relative;
    display: block;
    padding: 5px 20px;
    font-family: "Heebo", Arial, serif;
    font-size: 18px;
    text-decoration: none;
    color: white;
    overflow: hidden;
    z-index: 0;
    transition: color 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    color: black;
}

nav ul li a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #219831;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: width 0.6s ease, height 0.6s ease;
}

nav ul li a:hover::before,
nav ul li a.active::before {
    width: 80%;
    height: 60%;
}

#main-nav {
    padding: 10px;
    text-align: center;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    height: 45px;
}
    
#main-nav.sticky {
    position: fixed;
    top: 0;
}

/* Sections */
main section {
    margin: 40px 0px 100px 0px;
    font-family: "Heebo", Arial, serif;
    transition: opacity 0.3s ease-out;
}

main section.active {
    opacity: 1;
    display: block;
}

main section:not(.active) {
    opacity: 0;
    display: none;
}

/* About Section */
#about {
    text-align: center;
    padding: 0 25px;
}

#about h2{
    font-size: 21px;
}

#Slogen {
    font-family: "Amatic SC", Arial, serif;
    font-size: 26px;
    font-weight: bold;
}

.about-icons img{
    width: 40px;
    padding: 0px 0px 40px 0px;
}

/* Section Titles */
#vegetables h2,
#fruits h2,
#basket h2 {
    text-align: center;
    font-size: 40px;
}

#vegetables h2 {
    font-family: "Rubik Dirt", Arial, serif;
}

#fruits h2 {
    font-family: "Rubik Gemstones", Arial, serif;
}

#basket h2 {
    font-family: "Rubik Doodle Shadow", Arial, serif;
}

/* Products and Basket */
.details-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.text-details {
    text-align: right;
    max-width: 150px;
}

.item-name {
    font-weight: bold;
    font-size: 15px;
}

.item-price,
.item-units {
    font-size: 13px;
    color: #000000;
}

.product-img {
    width: 100px;
    border: 0.5px solid #4CAF50;
    border-radius: 8px;
    transition: transform 0.2s;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px 25px 0px 25px;
}

.product-item {
    text-align: center;
}

.product-item img:hover {
    transform: scale(1.1);
}

.add-to-basket {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.add-to-basket:hover {
    background-color: #3e8e41;
}

/* Footer */
footer {
    text-align: center;
    background-color: #21983180;
}